.header {
    background-color: #F3F3F3;
    padding: 20px;
    text-align: center;
}

.search-bar {
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.filter-button {
    background-color: #FF0080;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dark-theme .header,
.dark-theme .product-card {
    background-color: #181818;
    color: white;
}

.dark-theme .search-bar {
    background-color: #282828;
    color: white;
    border: 1px solid #444;
}

@media (max-width: 600px) {
    .product-card {
        width: 90%;
    }
}